{% if paginator.total_pages > 1 %}
<nav id="pagination_button_list" class="pagination">
  {% comment %} 이전 페이지 화살표 {% endcomment %}
  {% if paginator.previous_page %}
    <a class="arrow_button" href="{% if paginator.previous_page == 1 %}/{% else %}/page/{{ paginator.previous_page }}/{% endif %}">◀</a>
  {% else %}
    <span class="pagination not_button">◀</span>
  {% endif %}

  {% assign start = paginator.page | minus: 1 | divided_by: 10 | times: 10 | plus: 1 %}
  {% assign end = start | plus: 9 %}
  {% if paginator.total_pages < end %}
    {% assign end = paginator.total_pages %}
  {% endif %}

  {% for i in (start..end) %}
    {% if i == 1 %}
      {% if paginator.page == 1 %}
        <a class="current_page" href="/">1</a>
      {% else %}
        <a class="differ_page" href="/">1</a>
      {% endif %}
    {% else %}
      {% if i == paginator.page %}
        <a class="current_page" href="/page/{{ i }}">{{ i }}</a>
      {% else %}
        <a class="differ_page" href="/page/{{ i }}">{{ i }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% comment %} 다음 페이지 화살표 {% endcomment %}
  {% if paginator.next_page %}
    <a class="arrow_button" href="/page/{{ paginator.next_page }}">▶</a>
  {% else %}
    <span class="pagination not_button">▶</span>
  {% endif %}
</nav>
{% endif %}