---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  {% assign title = page.title %}

  {% if page.url == "/index.html" %}
    {% assign title = "" %}
  {% elsif page.url %}
    {% assign current_category_slug = page.url | split: '/' | slice: 1 %}
    {% assign category = site.data.navigation.categories | where: "url", "/" | append: current_category_slug | first %}
    {% if category %}
      {% assign title = category.title %}
    {% endif %}
  {% endif %}


  <div class="archive home_archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h3 class="archive__subtitle">{{ title }}</h3>
    {% endunless %}
    {{ content }}
  </div>
</div>